<div fxLayout="row" fxLayoutAlign="center center" class="container">
    <mat-card class="card-cadastro">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.nome" placeholder="Digite o nome do restaurante" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.cnpj" placeholder="Digite o cnpj do restaurante" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.endereco" placeholder="Endereço" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.cidade" placeholder="Cidade" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.estado" placeholder="Estado" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.tipo" placeholder="Tipo" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.email" placeholder="Digite o email" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.senha" placeholder="Digite a senha" required>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="inserir()" [routerLink]="['/home']">Cadastrar</button>
        </mat-card-actions>
    </mat-card>
</div>
