<div fxLayout="row" class="container">
    <mat-card class="card-cadastro">
        <mat-card-content class="conteudo" fxLayout="column">
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.nome" placeholder="Digite o nome do restaurante" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.cnpj" placeholder="Digite o cnpj do restaurante" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.endereco" placeholder="Endereço" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.cidade" placeholder="Cidade" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.estado" placeholder="Estado" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.tipo" placeholder="Tipo" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.email" placeholder="Digite o email" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="restauranteManutencao.senha" placeholder="Digite a senha" required>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="botaoManutencao === 'Cadastrar'" (click)="inserir()" [routerLink]="['/listagem-restaurantes']">{{botaoManutencao}}</button>
            <button mat-raised-button *ngIf="botaoManutencao === 'Salvar'" (click)="atualizar()" [routerLink]="['/listagem-restaurantes']">{{botaoManutencao}}</button>
        </mat-card-actions>
    </mat-card>
</div>
