<div class="container">
    <div id="um">
        <div class="bloco">
            <div>
                <h1 class="texto1">Faça sua reserva<br>de forma remota</h1>
            </div>
            <div>
                <p>abhjsdbjhasdbjhabdhjabsjhd</p>
            </div>
            <div>
                <button mat-raised-button class="botao1" color="warn" [routerLink]="['/listagem-restaurantes']">veja os restaurantes</button>
                <button mat-raised-button class="botao2" color="">teste</button>
            </div>
        </div>
    </div>
    <div id="dois">
    </div>
    <div id="intro">
        <div class="logo">
            <div><img src="../../../assets/logo.png" alt="logo"></div>
        </div>
    </div>
    <div id="quatro">4</div>
    <div id="cinco">5</div>
    <div id="seis">6</div>
</div>
