<div class="container">
    <mat-card class="card-restaurantes" *ngFor="let restaurante of restaurantes">
        <mat-card-header>
            <mat-card-title class="tipo-restaurante">{{restaurante.tipo}}</mat-card-title>
            <mat-card-title>{{restaurante.nome | titlecase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{restaurante.cidade}} - {{restaurante.estado}} <br>
            {{restaurante.endereco}}           
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="excluir(restaurante)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>