<div class="container">
    <div class="img"></div>
    <div class="login">
        <div class="logo"></div>
        <div class="dados">
            <div class="bemVindos"><p>sejam bem vindos</p></div>
            <div class="card-login">
                <app-login-restaurante *ngIf="this.login_restaurante === true"></app-login-restaurante>
                <app-login-usuario *ngIf="this.login_usuario === true"></app-login-usuario>
            </div>
        </div>
        <div class="a">inv</div>
    </div>
</div>