<div class="container">
    <div class="img"></div>
    <div class="login">
        <div class="logo"></div>
        <div class="dados">
            <div class="bemVindos"><p>sejam bem vindos</p></div>
            <div class="card-login">
                <mat-form-field>
                    <mat-label>Digite seu email</mat-label>
                    <input matInput placeholder="email@exemplo.com" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
            </div>
        </div>
        <div class="a">inv</div>
    </div>
</div>